.page {
  align-self: start;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.page__icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.jump {
  align-self: start;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.jump__box {
  padding: 5px;
  border-radius: 5px;
}

.btn {
  width: 35px;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
}
