<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CFA103G1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
 <!--//////////////////////MEM/////////////////////////////-->
  <servlet>
    <servlet-name>MembersServlet</servlet-name>
    <servlet-class>com.members.controller.MembersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembersServlet</servlet-name>
    <url-pattern>/members/members.do</url-pattern>
    <url-pattern>/front-end/members/members.do</url-pattern>
    <url-pattern>/back-end/members/members.do</url-pattern>
  </servlet-mapping>
  
  
    <!-- 	filter -->
	<filter>
		  <filter-name>LoginFilter</filter-name>
		  <filter-class>tool.LoginFilter</filter-class>
	  </filter>
	  <filter-mapping>
		  <filter-name>LoginFilter</filter-name>
		  <url-pattern>/front-end/index/members_only2.jsp</url-pattern>
		  <url-pattern>/front-end/index/members_only3.jsp</url-pattern>
		  
		  <url-pattern>/front-end/grouporder/listAllGroupOrderByMem.jsp</url-pattern>
<!-- 		  <url-pattern>front-end/grouporder/listGroupOrderInfo2.html</url-pattern> -->

		  <url-pattern>/front-end/order/insertorder.jsp</url-pattern>

		  <url-pattern>/front-end/order_pro/orderCheck.jsp</url-pattern>
		  <url-pattern>/order/order.do</url-pattern>
		  <url-pattern>/back-end/po/po.do</url-pattern>
      </filter-mapping>
  <!-- 	filter -->
  

    <!--//////////////////////MEM/////////////////////////////-->
    <!--//////////////////////worker/////////////////////////////-->
  <servlet>
		<servlet-name>WorkerServlet</servlet-name>
		<servlet-class>com.worker.controller.WorkerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkerServlet</servlet-name>
		<url-pattern>/worker/worker.do</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>Work_powerServlet</servlet-name>
		<servlet-class>com.work_power.controller.Work_powerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Work_powerServlet</servlet-name>
		<url-pattern>/work_power/work_power.do</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>Power_listServlet</servlet-name>
		<servlet-class>com.power_list.controller.Power_listServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Power_listServlet</servlet-name>
		<url-pattern>/power_list/power_list.do</url-pattern>
	</servlet-mapping>
    <!--//////////////////////worker/////////////////////////////-->
     <!--//////////////////////IndClass/////////////////////////////-->
     <servlet>
		<servlet-name>CourseOrder</servlet-name>
		<servlet-class>com.course_order.controller.CourseOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CourseOrder</servlet-name>
		<url-pattern>/back-end/course_order.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CourseSchedule</servlet-name>
		<servlet-class>com.course_schedule.controller.CourseScheduleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CourseSchedule</servlet-name>
		<url-pattern>/back-end/course_schedule.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Pro</servlet-name>
		<servlet-class>com.pro.controller.ProServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pro</servlet-name>
		<url-pattern>/back-end/pro.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Course</servlet-name>
		<servlet-class>com.course.controller.CourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Course</servlet-name>
		<url-pattern>/course</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Order</servlet-name>
		<servlet-class>com.course_order.controller.CourseOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Order</servlet-name>
		<url-pattern>/order/order.do</url-pattern>
	</servlet-mapping>
      <!--//////////////////////IndClass/////////////////////////////-->
     <!--//////////////////////GroupClass/////////////////////////////-->
      <servlet>
  	<servlet-name>GroupClassServlet</servlet-name>
  	<servlet-class>com.groupclass.controller.GroupClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GroupClassServlet</servlet-name>
  	<url-pattern>/back-end/groupclass/groupClass.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GroupClassServlet2</servlet-name>
  	<servlet-class>com.groupclass.controller.GroupClassServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GroupClassServlet2</servlet-name>
  	<url-pattern>/front-end/groupclass/groupClass.do</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>ClassTypeServlet2</servlet-name>
  	<servlet-class>com.classtype.controller.ClassTypeServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClassTypeServlet2</servlet-name>
  	<url-pattern>/back-end/classtype/classType.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GroupHourServlet</servlet-name>
  	<servlet-class>com.grouphour.controller.GroupHourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GroupHourServlet</servlet-name>
  	<url-pattern>/back-end/grouphour/groupHour.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GroupHourServlet2</servlet-name>
  	<servlet-class>com.grouphour.controller.GroupHourServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GroupHourServlet2</servlet-name>
  	<url-pattern>/front-end/grouphour/groupHour.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>GroupOrderServlet</servlet-name>
  	<servlet-class>com.grouporder.controller.GroupOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GroupOrderServlet</servlet-name>
  	<url-pattern>/back-end/grouporder/groupOrder.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GroupOrderServlet2</servlet-name>
  	<servlet-class>com.grouporder.controller.GroupOrderServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GroupOrderServlet2</servlet-name>
  	<url-pattern>/front-end/grouporder/groupOrder.do</url-pattern>
  </servlet-mapping>
     
     <!--//////////////////////GroupClass/////////////////////////////-->
     <!--//////////////////////Product/////////////////////////////-->
     <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.product.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/back-end/product/product.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductCategoryServlet</servlet-name>
    <servlet-class>com.product_category.controller.ProductCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCategoryServlet</servlet-name>
    <url-pattern>/back-end/product_category/productcategory.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DBGifReader1</servlet-name>
    <servlet-class>com.product_photo.model.DBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader2</servlet-name>
    <url-pattern>/DBGifReader</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DBGifReader2</servlet-name>
    <servlet-class>com.product_photo.model.DBGifReader2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader2</servlet-name>
    <url-pattern>/DBGifReader2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingCar</servlet-name>
    <servlet-class>com.product.controller.ShoppingCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCar</servlet-name>
    <url-pattern>/front-end/product/ShoppingCar.do</url-pattern>
 </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader3</servlet-name>
    <servlet-class>com.product_photo.DBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader</servlet-name>
    <url-pattern>/product_photo/DBGifReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseOrderServlet</servlet-name>
    <servlet-class>com.purchase_order.controller.PurchaseOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseOrderServlet</servlet-name>
    <url-pattern>/back-end/po/po.do</url-pattern>
  </servlet-mapping>
     <!--//////////////////////Product/////////////////////////////-->
     <!--/////////////////////  後台  /////////////////////////////-->
  <!-- 	filter -->
	<filter>
		<filter-name>Filter</filter-name>
		<filter-class>com.worker.model.PowerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filter</filter-name>
		<url-pattern>/back-end/index.jsp</url-pattern>
		<url-pattern>/back-end/worker/listAllWorker.jsp</url-pattern>
		<url-pattern>/back-end/worker/addWorker.jsp</url-pattern>
		<url-pattern>/back-end/members/listAllMembers.jsp</url-pattern>
		<url-pattern>/back-end/grouporder/listAllGroupOrder.jsp</url-pattern>
		<url-pattern>/back-end/grouphour/listAllGroupHour.jsp</url-pattern>
		<url-pattern>/back-end/groupclass/listAllGroupClass.jsp</url-pattern>
		<url-pattern>/back-end/classtype/listAllClassType.jsp</url-pattern>
		<url-pattern>/back-end/product/listAllProduct.jsp</url-pattern>
		<url-pattern>/back-end/purchase_order/listAllOrder.jsp</url-pattern>
		<url-pattern>/back-end/pro/select_page.jsp</url-pattern>
		<url-pattern>/back-end/course_schedule/select_page.jsp</url-pattern>
		<url-pattern>/back-end/course_order/select_page.jsp</url-pattern>
	</filter-mapping>
</web-app>